{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>New address</h1>
        {{ form_start(form, {
            attr: {'class': 'mt-4'}
        }) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        {{ form_label(form.picture) }}
                        {{ form_widget(form.picture) }}
                        <small class="form-text text-muted">
                            Allowed fotrmats are jpg,jpeg and png. and maximum size is 1Mb.
                        </small>
                    </div>
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.streetnumber) }}
                    {{ form_row(form.city) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.zip) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.phonenumber) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.birthDay) }}
                </div>
            </div>
            <div class="text-center mt-4">
                {{ form_row(form.save, { 'label': 'Add to the address book' }) }}
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">
        $(function () {
            var this_year = (new Date).getFullYear();
            $('#address_birthDay').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1900,
                maxYear: this_year - 13
            });

        });
    </script>
{% endblock %}

