{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 >All addresse books</h1>
        <a href="{{ path('create_address') }}" class="btn btn-success mb-4 float-right">Add new address</a>

        {% include 'partials/success.html.twig' %}
        {% include 'partials/error.html.twig' %}

        <table id="addresses_list" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th >Picture</th>
                <th >First name</th>
                <th >Last name</th>
                <th >Street & N°.</th>
                <th >Zip</th>
                <th >City</th>
                <th >Country</th>
                <th >Phone number</th>
                <th >Birthday</th>
                <th >Email</th>
                <th >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
            <tr>
                <td>
                    {% if address.picture != '' %}
                    <img src="{{ asset('pictures/' ~ address.picture) }}" class="address_picture">
                    {% else %}
                        <img src="{{ 'https://ui-avatars.com/api/?background=343a40&color=fff&name=' ~ address.firstname ~ '+' ~ address.lastname }}" >
                    {% endif %}
                </td>
                <td>{{ address.firstname }}</td>
                <td>{{ address.lastname }}</td>
                <td>{{ address.streetnumber }}</td>
                <td>{{ address.zip }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.phonenumber }}</td>
                <td>{{ address.birthday }}</td>
                <td>{{ address.email }}</td>
                <td class="address_actions">
                    <a class="btn btn-primary" href="/edit/{{ address.id }}"><i class="fa fa-edit"></i></a>
                    <form action="{{ path('delete_address', {id: address.id }) }}" method="post" class="delete_address_form">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-address') }}"/>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="pagination" class="mt-5 text-center">
            {{ knp_pagination_render(addresses) }}
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .address_actions form{
            display: inline-block;
        }
        .address_actions a, .address_actions button{
            padding: 7px;
            font-size: 10px;
        }
        .address_picture {
            display: block;
            margin: 0 auto;
            max-width: 100px;
            max-height: 100px;
        }
        #addresses_list{
            /*table-layout: fixed;*/
        }
        #addresses_list td{
            vertical-align: middle;
            max-width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        #pagination nav {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $('.delete_address_form').on('submit', function (event) {
            if (confirm("Are you sure want to delete?")) {
                return true;
            }

            return false;
        });
    </script>
{% endblock %}
